.px-25-p {
  padding-left: 40%;
  padding-right: 40%;
}
.register-bg {
  background-color: #f4f4f4;
}
.br-12 {
  border-radius: 12px;
}
.register-others-btn {
  height: 52px;
  width: 100%;
  border-radius: 8px;
}
