<div class="w-full h-full flex justify-center items-center login-bg">
  <div class="hidden lg:flex w-1/2 h-full justify-center items-center">
    <img class="w-2/3 h-2/3" src="assets/images/forgotPassword.svg" />
  </div>
  <div
    class="w-full h-full lg:w-1/2 flex items-center lg:pr-20 lg:py-6 overflow-hidden"
  >
    <div
      class="h-full flex flex-col px-10 py-6 bg-white rounded-lg login-form w-full overflow-auto"
    >
      <p class="primary-col text-4xl font-extrabold mb-6">Forgot Password</p>
      <form class="flex flex-col" [formGroup]="resetPasswordForm">
        <mat-form-field appearance="outline" class="text-sm">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix class="email-icon mr-4 ml-2">email</mat-icon>
          <input
            matInput
            formControlName="Email"
            type="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
        </mat-form-field>
      </form>
      <div class="w-full">
        <button
          (click)="resetPassword()"
          class="login-others-btn bg-primary-col text-white font-semibold"
          mat-flat-button
          type="submit"
          [disabled]="
            resetPasswordForm &&
            resetPasswordForm.touched &&
            !resetPasswordForm.valid
          "
        >
          Recover
        </button>
      </div>
      <div class="text-sm flex flex-row gap-x-1 mt-6 justify-center">
        <span>Remember your account?</span>
        <span class="cursor-pointer primary-col font-semibold" (click)="login()"
          >Login</span
        >
      </div>
    </div>
  </div>
</div>
